.app-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}
.board-container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 8fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}
